# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (Optional: Uncomment if you don’t want to track VS Code configs)
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/  # If you're generating code coverage reports

# Android specific
android/local.properties  # Contains sensitive SDK paths
/android/app/debug
/android/app/profile
/android/app/release

# iOS specific
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json

# Web specific (if using Flutter for Web)
web/.dart_tool/
web/build/

# Obfuscation related
app.*.map.json

# Symbolication related
app.*.symbols

# Firebase related
firebase-debug.log  # Firebase CLI debug logs
